<nav role="navigation" class="navbar navbar-inverse navbar-static-top" style="background-image: none; background-color: #006699; color: #fff;">

  <div class="container">
  
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{site.baseurl}}"><span class="glyphicon glyphicon-home"></span> Start</a></li>
        <li><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2709107"><span class="glyphicon glyphicon-list"></span> The Paper</a></li>
        <li><a href="https://github.com/Michael-E-Rose/CoFE"><span class="glyphicon glyphicon-random"></span> The Data</a></li>
      </ul>
    </div>

  </div>
</nav>
