<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12">
      <h3>The Social Network of Intellectual Collaboration {{ include.year }} </h3>
      <p>We assume a weighted but undirected link between two researchers whenever one acknowledges the other on a published research paper. The weight corresponds to the inverse number of authors.<br/>
      <br/>
      We have used all acknowledgments from all published research articles published in six journals: The Journal of Finance, The Review of Financial Studies, the Journal of Financial Economics, the Journal of Financial Intermediation, the Journal of Money, Credit & Banking, and the Journal of Banking and Finance.<br />
      </p>
    </div>
  </div>
</div>
