<div class="row">
  <div class="col-xs-12">
    <h1>Ranking of all members of the network</h1>
    <p>We rank all researchers according to how often they've been acknowledged in our dataset, according to eigenvector centrality and according to betweenness centrality. Click on the column header to sort accordingly. It is important to note that our rankings do not measure scholarly excellence. They merely capture how financial economists collaborate.</p>
    <p>Eigenvector centrality is the weighted sum of neighbors where the weights correspond to the neighbors' eigenvector centrality. It is a measure of influence in a network. It's very similar to Katz-Bonacich centrality, but without a parameter. For details see P. Bonacich (1986): "Power and Centrality: A Family of Measures", <i>American Journal of Sociology</i> 92(5), pp. 1170-1182. We compute this centrality measure for the largest connected component only.</p>
    <p>Betweenness centrality of a researcher is the probability that she is part of shortest path between any two other researchers. Betweenness central individuals are vital for information flows since the connect different parts of the network. For details see L. Freeman (1977): "A set of measures based on betweenness", <i>Sociometry</i> 40, pp. 35-41. We compute this centrality measure for the largest connected component only.</p>
  </div>
</div>
