<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="CoFE: Collaboration in Financial Economics"/>
  <meta property="og:url" content="https://michael-e-rose.github.io/CoFE/"/>
  <meta property="og:site_name" content="michael-e-rose.github.io/CoFE/"/>
  <meta property="og:description" content="Academics collaborate informally by discussing their work with colleagues. We study the social network among financial economists and rank them according to their centrality in the network."/>
  <meta property="fb:app_id" content="966242223397117"/>
  <meta property="twitter:title" content="CoFE: Collaboration in Financial Economics"/>
  <meta property="twitter:description" content="Academics collaborate informally by discussing their work with colleagues. We study the social network among financial economists and to understand the flow of information."/>
  
  <title>CoFE: Collaboration in Financial Economics</title>

  <link rel="shortcut icon" href="{{site.baseurl}}/img/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/places_style.css">
</head>

<body>

  {{ content | expand_urls: root_url }}

  <footer id="main_footer" class="footer">{% include footer.html %}</footer>
  
</body>

</html>
